.git
.github
.vscode
.idea
docs
.gitignore
docker-compose.yml

**/coverage
**/node_modules
!**/node_modules/@amplication/prisma-clients
*.md
**/*.md
*.yaml
**/*.yaml

**/*.spec.ts
**/*.mock.ts




!**/data-service-generator/src/**/static/**/*.*